[Unit]
Description=YOU VS YOU Celery Worker
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/HABIT/backend
Environment="DJANGO_SETTINGS_MODULE=config.settings.production"
# Point to your production .env file
EnvironmentFile=/home/ubuntu/HABIT/backend/.env
ExecStart=/home/ubuntu/HABIT/venv/bin/celery -A workers.celery_app worker -l info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
